---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Positions from '../components/Positions.astro';
import BackgroundOne from '../components/BackgroundOne.astro';
import Graphics from '../components/Graphics.astro';
import MiniGallery from '../components/MiniGallery.astro';
import Map from '../components/Map.astro';
import Calendar from '../components/Calendar.astro';
import NextRace from '../components/NextRace.astro';
import BackgroundTwo from '../components/BackgroundTwo.astro';
import Surveys from '../components/Surveys.astro';
import SummaryGP from '../components/SummaryGP.astro';
import BackgroundThree from '../components/BackgroundThree.astro';
import Form from '../components/Form.astro';
import Donations from '../components/Donations.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
	<Header></Header>
	<Hero></Hero>
	<Positions></Positions>
	<BackgroundOne></BackgroundOne>
	<Graphics></Graphics>
	<MiniGallery></MiniGallery>
	<Map></Map>
	<Calendar></Calendar>
	<NextRace></NextRace>
	<BackgroundTwo></BackgroundTwo>
	<Surveys></Surveys>
	<SummaryGP></SummaryGP>
	<BackgroundThree></BackgroundThree>
	<Form></Form>
	<Donations></Donations>
	<Footer></Footer>
</Layout>
