---
import Title from "./complements/title.astro"
import RedLights from "./complements/redLights.astro"
import ContainerCalendar from "./complements/containerCalendar.astro"
---
<section>
    <Title title="AVANCE DEL CAMPEONATO 2025" description=""></Title>
    <article>
      <!---  <RedLights>
        </RedLights>--> 
        <ContainerCalendar></ContainerCalendar>
    </article>
</section>
