---

---

<section>
    <h2>APÓYANOS EN LA RECTA FINAL</h2>
    <p>Tu donación nos ayuda a seguir compartiendo la pasión por la F1</p>
    <p>Este proyecto se mantiene gracias a la comunidad
        Si disfrutas el contenido y quieres ver más herramientas, gráficos y datos exclusivos, considera apoyarnos con una donación</p>
    <article>
        <div>
            <button></button>
        </div>
        <div>
            <button></button>
        </div>
        <div>
            <button></button>
        </div>
    </article>
    <p>Cada aporte, grande o pequeño, nos impulsa a seguir en la pista</p>
</section>