---

---
<section>
    <article>
        <h2>Tu Voz en la Pista</h2>
        <p>Queremos saber qué piensas, envianos tus comentarios y sugerencias</p>
        <form action="">
            <div>
                <input type="text">
                <label for=""></label>
            </div>
            <div>
                <input type="text">
                <label for=""></label>
            </div>
            <button>ENVIAR COMENTARIOS</button>
        </form>
    </article>
    <article class="bg-[url(src/assets/img/BackgroundOne.webp)]">
        <span>Temporada 2025</span>
    </article>
</section>