---
import Title from "./complements/title.astro"
---

<section id="performance" class="py-20 w-full text-[#d1d1d1]">
    <Title title="GRÁFICAS DE RENDIMIENTO" description="Explora cómo ha sido la evolución de cada piloto y escudería a lo largo de la temporada 2025"></Title>
    <article class="mt-10 text-center">
        <div class="font-medium bg-[#3d3d3d] w-64 rounded-3xl mx-auto" >
            <button class="mr-1 bg-[#d1d1d1] text-[#3d3d3d] px-5 rounded-3xl">PILOTOS</button>
            <button class="px-1">CONSTRUCTORES</button>
        </div>
        
        <div></div>
        <div></div>
    </article>
</section>