---
import Logo from "../assets/icons/logo.astro"

---

<header class="fixed w-full z-10" >
    <nav class="w-full flex justify-around items-center"> 
        <div class="pt-4">
            <Logo></Logo>
        </div>
        
        <ul class="flex gap-6 font-bold items-center">
            <li class="bg-[#e10600] rounded-b-sm pt-4"> <a class="px-2" href="">INICIO</a> </li>
            <li class="pt-4"> <a href="">POSICIONES</a> </li>
            <li class="pt-4"> <a href="">RENDIMIENTO</a> </li>
            <li class="pt-4"> <a href="">CALENDARIO</a> </li>
            <li class="pt-4"> <a href="">ENCUESTAS</a> </li>
            <li class="pt-4"> <a href="">RESUMEN</a> </li>
        </ul>
    </nav>
  
</header>