---

---

<section class="w-full h-screen bg-[url(src/assets/img/Home.webp)] bg-bottom-right ">
    <div class="pt-14 ml-8">
        <span class="flex text-6xl font-light">Temporada 2025</span> 
    </div>
    <div class="ml-6 mt-36 w-2/3">
        <h1 class="text-6xl font-bold italic">VIVE LA EMOCION DE LA FÓRMULA 1</h1>
        <p class="text-2xl font-semibold italic text-left">Siente la adrenalina de cada Gran Premio, revive los momentos más emocionantes de la temporada y mantente al tanto de todo lo que ocurre dentro y fuera de la pista.</p>
    </div>
</section>

<style>



    span{
        font-family: "Caveat", cursive;
        transform: rotate(-8deg);
        text-shadow: rgba(0, 0, 0, 0.459) 1px 0 10px;
    }
</style>