---

---

<section id="home" class="relative flex justify-start lg:items-end w-full h-screen bg-[url(src/assets/img/Home.webp)] bg-bottom-right bg-no-repeat bg-cover p-10 items-start">
    <div class="absolute top-1/5 left-20  md:top-1/12 ">
        <span class="flex lg:text-6xl lg:font-light md:text-8xl text-4xl font-bold">Temporada 2025</span> 
    </div>
    <div class="w-11/12 md:ml-6 md:w-9/12 pt-60 lg:pt-0 lg:w-2/3">
        <h1 class="text-4xl md:text-6xl font-bold italic lg:text-8xl">VIVE LA EMOCION DE LA FÓRMULA 1</h1>
        <p class="text-lg font-semibold italic text-left md:text-2xl">Siente la adrenalina de cada Gran Premio, revive los momentos más emocionantes de la temporada y mantente al tanto de todo lo que ocurre dentro y fuera de la pista.</p>
    </div>
</section>

<style>



    span{
        font-family: "Caveat", cursive;
        transform: rotate(-8deg);
        text-shadow: rgba(0, 0, 0, 0.459) 1px 0 10px;
    }
</style>