---
import Title from "./complements/title.astro"
---

<section>
    <Title title="CALENDARIO DEL CAMPEONATO 2025" description="Aquí encontrarás el calendario completo de la temporada, con fechas, circuitos, países y horarios confirmados para cada Gran Premio"></Title>
</section>