---

---

<section class="py-10 relative">
    <span class="absolute text-3xl ml-10 font-extrabold">Temporada 2025</span>
    <div class="w-full flex justify-evenly items-center">
        <img class="w-1/4 h-60 object-cover rounded-md" src="/src/assets/img/BackgroundOne.webp" alt="">
        <img class="w-1/4 h-60 object-cover rounded-md" src="/src/assets/img/BackgroundOne.webp" alt="">
        <img class="w-1/4 h-60 object-cover rounded-md" src="/src/assets/img/BackgroundOne.webp" alt="">
    </div>
</section>

<style>
    span{
        font-family: "Caveat", cursive;
        transform: rotate(-25deg);
        text-shadow: rgba(0, 0, 0, 0.459) 1px 0 10px;
    }
</style>