---

---

<section class="py-10 relative">
    <span class="absolute text-3xl ml-10 font-extrabold">Temporada 2025</span>
    <div class="w-full flex justify-evenly items-center">
        <img class="w-5/12 h-56 object-cover rounded-sm shadow-[4px_10px_70px_-16px_#0c1a6cc8]" src="/src/assets/img/BackgroundOne.webp" alt="">
        <img class="w-3/12 h-56 object-cover rounded-sm shadow-[4px_10px_70px_-16px_#0c1a6cc8]" src="/src/assets/img/BackgroundOne.webp" alt="">
        <img class="w-3/12 h-56 object-cover rounded-sm shadow-[4px_10px_70px_-16px_#0c1a6cc8]" src="/src/assets/img/BackgroundOne.webp" alt="">
    </div>
</section>

<style>
    span{
        font-family: "Caveat", cursive;
        transform: rotate(-25deg);
        text-shadow: rgba(0, 0, 0, 0.459) 1px 0 10px;
    }
</style>