---
import Title from "./complements/title.astro"
---
<section>
    <Title title="Resumen del Gran Premio de Arabia saudita" description="Momentos, posiciones y emociones de la última carrera"></Title>
    <article>
        <div>

        </div>
        <div>
            <h3>PODIUM</h3>
            
        </div>
    </article>
</section>