---
import Title from "./complements/title.astro"
---

<section class="py-20">
    <Title title="TU OPINION CUENTA" description="Vota, comenta y forma parte del debate F1" ></Title>
    <div class="bg-red-600 text-center py-5 px-24 font-semibold w-4/5 mx-auto rounded-2xl mt-10 text-lg"> <p>Esta es tu zona para votar, debatir y opinar sobre todo lo que pasa en la temporada. Tus respuestas alimentan nuestros gráficos, rankings de popularidad y termómetro fan. ¡Exprésate como un verdadero aficionado!</p> </div>
    <article>
        <form action="">
            <div>
                <p></p>
                <label for="">Que escuderia crees que ganara el mundial de constructores?</label>
                <input type="email" name="" id="">
            </div>
            <div>
                <p></p>
                <label for="">Que escuderia crees que ganara el mundial de constructores?</label>
                <input type="email" name="" id="">
            </div>
            <div>
                <p></p>
                <label for="">Que escuderia crees que ganara el mundial de constructores?</label>
                <input type="email" name="" id="">
            </div>
            <button>ENVIAR ENCUESTA</button>
        </form>
    </article>
    <span>Las estadisticas se actualizan al termino de cada fin de semana de carrera</span>
</section>