---
import Title from "./complements/title.astro"
import SurveyForm from "./complements/surveyForm.astro"
---

<section class="py-20 text-center">
    <Title title="TU OPINIÓN CUENTA" description="Vota, comenta y forma parte del debate F1" ></Title>
    <div class="bg-red-600 text-center py-5 px-24 font-semibold w-4/5 mx-auto rounded-2xl mt-10 text-lg"> <p>Esta es tu zona para votar, debatir y opinar sobre todo lo que pasa en la temporada. Tus respuestas alimentan nuestros gráficos, rankings de popularidad y termómetro fan. ¡Exprésate como un verdadero aficionado!</p> </div>
    <SurveyForm></SurveyForm>
    <span class="block mt-10">Las estadisticas se actualizan al termino de cada fin de semana de carrera.</span>
</section>