---

---
<article class="w-2/3 flex flex-col justify-center items-center">
    <h3 class="font-bold">PODIUM</h3>
    <div class="flex gap-4 mt-8 w-full pb-5 justify-center items-end">
        <div class="flex flex-col items-center justify-end w-1/3 bg-[#3d3d3d] rounded-xl  shadow-[4px_10px_70px_-16px_#0c1a6cc8] ">
            <div class="flex items-center justify-between w-full px-4">
                <span class=" text-8xl font-bold">2</span>
                <div> 
                    <strong>OSCAR PIASTRI</strong>
                    <img class="object-cover h-5 w-5 border-2 border-[#d1d1d1] rounded-full mt-2" src="src/assets/flags/Australia.webp" alt="">
                </div>
            </div>
            <img class="object-cover mt-1 h-44 " src="src/assets/drivers/Piastri.png" alt="">
        </div>
        <div class="flex flex-col items-center justify-end w-1/3 bg-[#d1d1d1] rounded-xl shadow-[4px_10px_70px_-16px_#0c1a6cc8] ">
            <div class="flex items-center justify-between w-full px-4 text-[#3d3d3d] ">
                <span class="text-9xl font-bold ">1</span>
                <div> 
                    <strong>LANDO NORRIS</strong>
                    <img class="object-cover h-5 w-5 border-2 border-[#3d3d3d] rounded-full mt-2" src="src/assets/flags/GranBretaña.webp" alt="">
                </div>
            </div>
            <img class="object-cover h-44 " src="src/assets/drivers/Norris.png" alt="">
        </div>
        <div class="flex flex-col items-center justify-end w-1/3 bg-[#3d3d3d] rounded-xl shadow-[4px_10px_70px_-16px_#0c1a6cc8] ">
           <div class="flex items-center justify-between w-full px-4">
                <span class="text-7xl font-bold ">3</span>
                <div> 
                    <strong>CHARLES LECLERC</strong>
                    <img class="object-cover h-5 w-5 border-2 border-[#d1d1d1] rounded-full mt-2" src="src/assets/flags/Monaco.webp" alt="">
                </div>
            </div>
            <img class="object-cover h-44 " src="src/assets/drivers/Lecrec.png" alt="">
        </div>
    </div>
    <div class="flex flex-col gap-5">
        <p class="bg-[#3d3d3d] rounded-md py-1 px-4 shadow-[4px_10px_70px_-10px_#0c1a6cc8]">POLE POSITION: LANDO NORRIS</p>
        <p class="bg-[#3d3d3d] rounded-md py-1 px-4 shadow-[4px_10px_70px_-10px_#0c1a6cc8]">VUELTA RAPIDA: OSCAR PIASTRI</p>
        <p class="bg-[#3d3d3d] rounded-md py-1 px-4 shadow-[4px_10px_70px_-10px_#0c1a6cc8]">PILOTO DEL DÍA: LANDO NORRIS</p>
        <p class="bg-[#3d3d3d] rounded-md py-1 px-4 shadow-[4px_10px_70px_-10px_#0c1a6cc8]">ABANDONOS: ALEXANDER ALBON, MAX VERSTAPPEN, KIMI ANTONELLI, CARLOS SAINZ</p>
    </div>
</article>

