---

---
<article>
    <form class="w-9/12 mx-auto py-20" action="">
        <label class="w-full flex gap-5 text-left" for="">Ingresa tu correo electrónico para poder votar en la encuesta
          <input class="block w-full px-4 rounded-lg border-2 border-red-500/50 mt-1" type="email" name="" id="">
        </label>
        <label class="block mt-10" for="">¿Quién ganara el mundial de pilotos?</label>
        <div class="w-full flex gap-4">
           <div class="w-1/2">
.
          </div>
          <fieldset class="w-1/2">
            <div>
              <input type="radio" id="hotelChoice1" name="hotel" value="economy" checked />
              <label for="hotelChoice1">Económico (+$0)</label>

              <input type="radio" id="hotelChoice2" name="hotel" value="superior" />
              <label for="hotelChoice2">Superior (+$50)</label>

              <input type="radio" id="hotelChoice3" name="hotel" value="penthouse" disabled />
              <label for="hotelChoice3">Penthouse (+$150)</label>
            </div>
          </fieldset>    
         
                
        </div>
        <div>
            <label for="">¿Qué escuderia crees que ganara el mundial de constructores?<input type="email" name="" id=""></label>
        </div>
        <button>ENVIAR ENCUESTA</button>
        </form>
</article>