---
import Containerposition from "./containerposition.astro"
const ITEMS_DRIVERS = [
    {
        id: "NOR",
        full_name: "Lando Norris",
        points: 25,
        position: 1,
        icon_team: "src/assets/teams/mclaren-logo.webp",
    },
    {
        id: "PIA",
        full_name: "Oscar Piastri",
        points: 18,
        position: 2,
        icon_team: "src/assets/teams/mclaren-logo.webp",
    },
    {
        id: "LEC",
        full_name: "Charles Leclerc",
        points: 15,
        position: 3,
        icon_team: "src/assets/teams/ferrari-logo.webp",
    },
    {
        id: "HAM",
        full_name: "Lewis Hamilton",
        points: 12,
        position: 4,
        icon_team: "src/assets/teams/ferrari-logo.webp",
    },
    {
        id: "RUS",
        full_name: "George Russell",
        points: 10,
        position: 5,
        icon_team: "src/assets/teams/mercedes-logo.webp",
    },
    {
        id: "LAW",
        full_name: "Liam Lawson",
        points: 8,
        position: 6,
        icon_team: "src/assets/teams/racing-bulls-logo.png",
    },
    {
        id: "ALO",
        full_name: "Fernando Alonso",
        points : 6,
        position: 7,
        icon_team: "src/assets/teams/aston-martin-logo.png",
    },
    {
        id: "BOR",
        full_name: "Gabriel Bortoleto",
        points : 4,
        position: 8,
        icon_team: "src/assets/teams/kick-sauber-logo.png",
    },
     {
        id: "HUL",
        full_name: "Nico Hülkenberg",
        points: 2,
        position: 9,
        icon_team: "src/assets/teams/kick-sauber-logo.png",
    },
    {
        id: "OCO",
        full_name: "Esteban Ocon",
        points: 1,
        position: 10,
        icon_team: "src/assets/teams/haas-logo.png",
    }
]

---
<article class="w-11/12 lg:w-1/3 text-center">
    <h3 class="font-bold">TOP TEN</h3>
    <article class="mt-10">
         <ol class="flex flex-wrap gap-4 justify-center">
        {
            ITEMS_DRIVERS.map((itemDriver)=>(
                <li>
                    <Containerposition key={itemDriver.id} itemPosition={itemDriver} > </Containerposition>
                </li>
               
            ))

        }
    </ol>
    </article>
</article>
