---
import Containerposition from "./containerposition.astro"
const ITEMS_DRIVERS = [
    {
        id: "NOR",
        full_name: "Lando Norris",
        points: 25,
        position: 1,
        icon_team: "../assets/teams/mclaren-logo.webp",
    },
    {
        id: "PIA",
        full_name: "Oscar Piastri",
        points: 18,
        position: 2,
        icon_team: "../assets/teams/mclaren-logo.webp",
    },
    {
        id: "HUL",
        full_name: "Nico Hülkenberg",
        points: 15,
        position: 3,
        icon_team: "../assets/teams/kick-sauber-logo.png",
    },
    {
        id: "HAM",
        full_name: "Lewis Hamilton",
        points: 12,
        position: 4,
        icon_team: "../assets/teams/ferrari-logo.webp",
    },
    {
        id: "VER",
        full_name: "Max Verstappen",
        points: 10,
        position: 5,
        icon_team: "../assets/teams/red-bull-racing.webp",
    },
     {
        id: "GAS",
        full_name: "Pierre Gasly",
        points: 8,
        position: 6,
        icon_team: "../assets/teams/alpine-logo.png",
    },
    {
        id: "STR",
        full_name: "Lance Stroll",
        points: 6,
        position: 7,
        icon_team: "../assets/teams/aston-martin-logo.png",
    }, 
    {
        id: "ALB",
        full_name: "Alexander Albon",
        points: 4,
        position: 8,
        icon_team: "../assets/teams/williams-logo.png",
    },
    {
        id: "ALO",
        full_name: "Fernando Alonso",
        points : 2,
        position: 9,
        icon_team: "../assets/teams/aston-martin-logo.png",
    },
    {
        id: "RUS",
        full_name: "George Russell",
        points: 1,
        position: 5,
        icon_team: "../assets/teams/mercedes-logo.webp",
    },
]

---
<article class="w-11/12 lg:w-1/3 text-center">
    <h3 class="font-bold">TOP TEN</h3>
    <article class="mt-10">
         <ol class="flex flex-wrap gap-4 justify-center">
        {
            ITEMS_DRIVERS.map((itemDriver)=>(
                <li>
                    <Containerposition key={itemDriver.id} itemPosition={itemDriver} > </Containerposition>
                </li>
               
            ))

        }
    </ol>
    </article>
</article>
